{% extends 'base.html' %}

{% block title %}Видалити таблицю{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="alert alert-warning">
            <h4>Видалити таблицю «{{ object.name }}»?</h4>
            <p>Усі транзакції в цій таблиці теж будуть видалені. Цю дію неможливо скасувати.</p>
        </div>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Так, видалити</button>
            <a href="{% url 'table_list' %}" class="btn btn-outline-secondary">Скасувати</a>
        </form>
    </div>
</div>
{% endblock %}